#toptop {
    
    background-color: white;
    color: black ;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    position:relative;
}

.dataList .ui-datalist-data{
border: none;
background: transparent;
background-image: none;
}

.userbar{
    position: absolute;
    right:5px;
    z-index: 100;
}
.breadcrums{
     position: absolute;
    left: 5px;
    z-index:100;
}

#top {
    position: relative;
    background-color: white;
    color: black;
    padding: 20px;
    margin: 0px 0px 5px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: white;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: white;
    padding: 5px;
    width: 250px;
}

.center_content {
    position: relative;
    background-color: #FFFFFF;
    padding: 5px;
    width:750px;
    margin: 250px;
    text-align:left;
    padding:15px;
/*    border:1px dashed #333;*/
}

.left_content {
    position: absolute;
    background-color: #FFFFFF;
    padding: 5px;
    margin-left: 170px;
    margin-right: 270px;
}

.right_content {
    background-color: #FFFFFF;
    padding: 5px;
    margin: 0px 0px 0px 0px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}


